.desktop {
    .ghost-window {
        pointer-events: none;
        position: absolute;

        opacity: 0;
        box-sizing: border-box;
        padding: 0.3rem;
        transition: width 0.25s, height 0.25s, top 0.25s, left 0.25s, opacity 0.25s;

        .inner {
            width: 100%;
            height: 100%;

            border-radius: 0.55rem;
            box-shadow: 0 0 0.55rem rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.6);
        }

        &.show {
            opacity: 1;
        }
    }
}

.desktop {

    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;

    background-color: #222222;
    
    font-family: $desktop-font;
    display: flex;
    flex-direction: column;
    align-items: center;



    .windows {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        border-radius: 0.55rem;
        box-shadow: 0 0 0.55rem rgba(0, 0, 0, 0.35);

        box-sizing: border-box;
        background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #84a7ef, #68b5f7, #49c1fb, #00d3fc, #00e3f1, #00f0db, #5ffbbe);
    }

    .actions {
        position: relative;
        height: 3.25rem;
        width: 100%;

        margin-top: 0.25rem;

        display: flex;
        justify-content: center;
        align-items: center;


        gap: 1rem;

        .button {
            width: 2.25em;
            height: 2.25em;
            border-radius: 100%;
            transition: font-size 0.25s;

            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                padding: 0.15em;
                transition: padding 0.25s;
                cursor: pointer;
            }

            &:hover {
                .icon {
                    padding: 0;
                }
            }

            &.pressed {
                font-size: 0.8em;
            }


        }
    }
}