<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="author" content="Gengyuan Huang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Aghnu's Desktop | Gengyuan Huang</title>
    <link rel="stylesheet" href="https://www.aghnu.me/static/font/ubuntu_mono/font.css">
</head>

<body>
    <noscript>
        <p>Please enable JavaScript</p>
    </noscript>

    <div id="site"></div>
</body>

</html>